{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container py-5">
    <p class="text">Welcome to KaizoKage, your anime gateway !</p>
</div>
{% endblock %}
